@charset "UTF-8";

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  width: 370px;
  border: 1px solid #3d6aff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #3d6aff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #3d6aff;
  /* box-shadow: 0 0 30px 5px #008eecd0; */
  box-shadow: 0 0 30px 5px #3d6aff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  color: white;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:hover::before {
  -webkit-animation: sh02 0.35s 0s linear;
  -moz-animation: sh02 0.35s 0s linear;
  animation: sh02 0.35s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

#input-submit-in {
  border: 1px solid #fff;
  color: white;
}

#input-submit-in:hover {
  background: #f8f8ff;
  box-shadow: 0 0 30px 5px #efefef;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #3d6aff;
  cursor: pointer;
}

#input-submit-in:hover::before {
  -webkit-animation: sh02 0.35s 0s linear;
  -moz-animation: sh02 0.35s 0s linear;
  animation: sh02 0.35s 0s linear;
}

#input-submit-in::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #3d6aff;
  box-shadow: 0 0 50px 30px #3d6aff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

#input-submit-in:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
